header {
    height: var(--header-height);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--header-padding);
    z-index: 99;
    transition: height 0.3s ease 0s, background-color 0.3s ease 0s;
}

header.shrink {
    height: 60px;
    background-color: var(--second-color);
}

.main-menu-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.main-menu {
    display: flex;
    pointer-events: visible;
}

.main-menu>li>a {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--txt-color);
}

.main-menu>li>a.active {
    color: var(--txt-white);
}

.main-menu>li~li {
    margin-left: 84px;
}

.main-menu>li>a:hover {
    color: var(--txt-white);
}