.row {
    display: flex;
    overflow-x: auto; /* Enable horizontal scroll if content overflows */
    width: 80%; /* Ensure the row takes up the full width */
    align-items: center;
    border:2px solid black;
    margin-left: 23%;
    
}
.container-fluid{
    width:80%;
    align-items: center;
    
    
    
    margin-top:35%;
    
}

.col-lg-6 {
    flex: left; /* Set column width to auto */
    width: 50%; /* Each column takes 25% of the container width */
    padding: 15px; /* Adjust spacing between columns */
    box-sizing: border-box; 
    display: inline;
    /* Include padding in column width */
}

.right-first-image {
    position: relative;
    width: 100%;
     /* Set position relative for proper absolute positioning */
}

.thumb {
    position: relative; /* Set position relative for proper absolute positioning */
    overflow: hidden;
    width:100%;
    text-align: center; /* Hide overflow if the image size exceeds container */
}

.thumb .image {
    width: 100%; /* Make sure the image fills its container */
    aspect-ratio: 1/1; /* Maintain aspect ratio */
}

.inner-content {
    position: absolute;
    height:100%;
    top:-6.5%;
     
    width: 100%;
    

}

.catergory_name{
    color:black;
    font-size: 120%;
    font-weight: 700;
    margin-top: 80%;
    padding:6% 10%;
    background-color: rgba(255, 255, 255, 0.9);  
    border-radius: 5px;
    transition: transform 0.3s ease;
    transform: translateY(0); 
    
    
}

.thumb .hover-content {
    position: absolute;
    width:100%;
    bottom:-100%;
    text-align: center;
     /* Transparent white background */
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add transition for smooth movement and opacity */
    transform: translateY(100%);
}

.thumb:hover .hover-content {
    visibility: visible;
    bottom:15%;
    opacity: 1;
    transform: translateY(0);
}






.thumb:hover .inner-content{
    transform: translateY(-88%);
    transition: transform 0.3s ease;
    color: #422800;
    
    margin-top:20%;
}




/* CSS */
.button-text {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 100%;
  padding: 0  20%;
  line-height: 270%;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-text:hover {
  background-color: #fff;
  
}

.button-text:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


.food-display {
    width: 80%; /* Set the width of the slider */
    margin: 0 auto; /* Center the slider */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snapping to items */
}

.container-food {
    display: flex; /* Display items in a row */
    scroll-snap-type: x mandatory; /* Enable snapping to items */
}

.item {
    position: relative; /* Set position relative for proper absolute positioning */
    overflow: hidden;
    width:100%;
    text-align: center;
    /* Align items to the start of the scroll container */
}

.food-items {
    width: 100%; /* Make images fill their containers */
}
.scroller{
    display: flex;
    overflow-x: auto; /* Enable horizontal scroll if content overflows */
    width: 170%; /* Ensure the row takes up the full width */
    align-items: center;
    border:2px solid black;
    
    
}

.prev-btn,
.next-btn {
    margin-top: 10px; /* Add margin between buttons and slider */
}
.col-lg-7{
    flex: left; /* Set column width to auto */
    width: 20%; /* Each column takes 25% of the container width */
    padding: 15px; /* Adjust spacing between columns */
    box-sizing: border-box; 
    display: inline;
    margin-left: 1.5%;
}
.smthin{
    width:80%;
    align-items: center;
    margin-left: 10%;
    
    
    margin-top:20%;

}
@media only screen and (max-width:100%){
    body{
        font-size: 120%;
    }
}

@media only screen and (max-width:1309px){
    body{
        font-size:75%;
    }
}
.containerr{
    background-color: tranparent;
    width:80%;
    overflow: hidden;
    border:2px solid black;
}
body{
    background-color: #588D2C;
}
.hover-product {
    margin-top: -61%; /* Adjust as needed */
     /* Adjust as needed */
    visibility: hidden;
    transform: translateY(100%);
    transition: transform 1s ease, opacity 1s ease;
    position: absolute;

    width: 100%;
    /* Adjust background color and opacity */
    color: white; /* Adjust text color */
    padding: 10px; /* Add padding */
    opacity: 0;
    box-sizing: border-box;
}

<<<<<<< Updated upstream
header {
    height: var(--header-height);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--header-padding);
    z-index: 99;
    transition: height 0.3s ease 0s, background-color 0.3s ease 0s;
}
header.shrink {
    height: 60px;
    background-color: var(--second-color);
}
=======
.item:hover .hover-product {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}
.item:hover .food-items{
    filter: blur(2px);
}
.labelOrder {
    padding-top: 12px;
  width: 258px;
  height: 60%;
  background-color: #ccc;
  float: right;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  position: fixed;
  top: -100%; /* Initially hide the labelOrder div above the viewport */
  transition: top 0.3s ease; 
    
    
   
    
}
#orderDescription {
    font-size: 16px;
    height: 40px;
}

#order {
    height: 376px;
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.product {
    background-color: white;
    width: 234px;
    float: left;
    margin: 10px 10px 0 0;
}
.shop{
    width:100%;
    position: relative;
}
.shop:target+.labelOrder{
    top:0;
}
>>>>>>> Stashed changes
