body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkgreen;
  background-size: cover;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  height:max-content;
  width: 100vw;
  position: fixed;
  
}

.splash-screen {
  text-align: center;
  padding: 5%;
  align-items: center;
  
  
  
}

h1 {
  font-family: Papyrus, fantasy;
  color: black;
  font-size: 3vw;
  margin-top: 0;
}

.product-container {
  background-color: white;
  background-blend-mode: lighten;
  padding: 1%;
  border-radius: 5vw;
  
  width: 82%;
  margin-top: 5%;
  padding-bottom: 5%;
  
  margin-left:7.3%;
  align-items: center;
  padding-right: 2.2%;
  
   /* Center the container horizontally */
}

.product {
  display: inline-block;
  background-color: white;
  margin-left: 1.9%;
  margin-bottom: 2%;
  padding: 5%;
  border-radius: 2vw;
  border: 2px solid blue;
  width: 10%;
  align-items: center;
  margin-top: 5px;
  
  
  align-items: center;/* Fixed width */
}
h2{
  text-align: center;
  font-size: xx-large;
  margin-left: 4%;
}

.description {
  margin-top: 1.5vw;
}

.image {
  height: 7vw;
}

.loader {
  height: 15vw;
  margin-top:-12%;
  margin-left: 0.;

  
  
  
  
}
